/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.clearfix::after,

:root {
    --red: #dc3545;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
}

.text-uppercase {
    text-transform: uppercase!important;
}

.mb-0, .my-0 {
    margin-top: 0;
    margin-bottom: 0!important;
}

.p-3 {
    padding: 1rem!important;
}

.text-center {
    text-align: center!important;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.font-weight-bold {
    font-weight: 700!important;
}

.text-muted {
    color: #6c757d!important;
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

@font-face {
    font-family: "Quattrocento-Bold";
    src: url('Quattrocento-Bold.ttf');
}

@font-face {
    font-family: "Quattrocento-Regular";
    src: url('Quattrocento-Regular.ttf');
}

.container {
    width: 100%;
    padding: 0!important;
    margin: auto!important;
}

/* ================
Calendar Styling */
.calendar {
  border-radius: 0px;
}

.month {
  font-size: 13rem;
  font-family: "Quattrocento-Regular";
}

.month-name {
  font-size: 8rem;
  font-family: "Quattrocento-Regular";
}

@media (min-width: 992px) {
  .month {
    font-size: 13rem;
    line-height: 13rem;
    font-family: "Quattrocento-Regular";
  }
}

.datecirclebox {
    position: relative;
}

.datecircle {
    margin: 2rem auto;
    width:12rem;
    height:12rem;
    font-size: 8rem;
    border-radius:6rem;
    font-family: "Quattrocento-Regular";
    color:white;
    line-height: 12rem;
    text-align:center;
    vertical-align: middle;
    background:#ff0000;
}

.calendar .days li .event {
  font-size: 1rem;
  /* font-weight: bold;*/
  padding: 0.1rem;
  /* color: black; */
  /* font-family: "Judson-Regular";*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 0rem;
  margin-bottom: 1px;
}

.calendar .days li .event.span-2 {
  width: 200%;
}

.text-multiday {
  text-overflow: '...」'!important;
}

.calendar .days li .event.begin {
  border-radius: 1rem 0 0 1rem;
}

.calendar .days li .event.end {
  border-radius: 0 1rem 1rem 0;
}

.calendar .days li .event.clear {
  background: none;
}

.calendar .days li:nth-child(n+29) {
  border-bottom: none;
}

.calendar .days li.outside .date {
  color: #ddd;
}

div.batt_container {
  width: 53px;
  height: 27px;
  position: absolute;
  top: 5;
  left: 925;
  overflow: hidden;
}

div.batt_container  {
  z-index: 10;
}

div.batt_container .battery80 {
  position: relative;
  left: 0px;
  top: 0px;
}

div.batt_container .battery60 {
  position: relative;
  left: 0px;
  top: -44px;
}

div.batt_container .battery40 {
  position: relative;
  left: 0px;
  top: -89px;
}

div.batt_container .battery20 {
  position: relative;
  left: 0px;
  top: -134px;
}

div.batt_container .battery0 {
  position: relative;
  left: 0px;
  top: -178px;
}

div.batt_container .batteryHide {
    display: none;
}

table.hourly-forecasts {
  width: 100%;
}

table.hourly-forecasts td {
  max-width: 100%;

}

.fc-hour {
  text-align: center;
  font-size: 4rem;
  font-family: "Quattrocento-Regular";
}

.fc-temp {
  text-align: center;
  font-size: 3rem;
  font-family: "Quattrocento-Regular";
}

img.fc-icon {
  text-align: center;
  width: 100%;
  margin: auto!important;
}

.fc-rain-perc {
  float: left;
  text-align: right;
  width: 50%;
  line-height: 6rem;
  font-size: 2rem;
  font-family: "Quattrocento-Regular";
}

.fc-rain-icon {
  float: left;
  width: 40%;
}

.fc-curr-container {
  overflow: hidden;
  padding-bottom: 1rem;
}

.fc-curr-main {
  width: 30%;
  height: 100%;
  float: left;
}

.fc-curr-stats {
  width: 70%;
  float: left;
}

.fc-curr-stats-icon {
  float: left;
}

.fc-curr-icon {
  width: 100%;
}

.fc-curr-stats-icon {
  width: 50%;
}

.fc-curr-stats-stat {
  line-height: 8rem;
  font-size: 2rem;
  font-family: "Quattrocento-Regular";
}

.fc-curr-main-temp {
  text-align: center;
  font-size: 3rem;
  font-family: "Quattrocento-Regular";
}

/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/
body {
  min-height: 100vh;
  background-color: #ffffff;
}
